# Directories
__Previews/
History/
Project Logs for Car_Circuitry/
Project Outputs for Car_Circuitry/
Project Outputs for Steering_Daughterboard/
.vscode/
Car_Code/cheme_car_competition_codebase/build/

# Files
*.zip